h1 {
  text-align: center;
}

.searchBox{
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 200px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.doctorthumb{
  float:left;
  width:20%;
  margin:2%;
}

#userIllnessInput {
width:75%;
display: inline;
margin-right: 40px;
}

#activateSearch {
  display: none;
}
